<ion-header color="primary">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>

    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>FAQs</ion-title>

  <ion-buttons slot="end" (click)="notifications()"> 
    <ion-icon name="notifications" size="large"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
<div *ngFor="let item of data" style="padding-left: 20px;border-bottom: 1px solid #ccc;box-shadow: 0px 2px 5px #ccc;"> 
    <div style="color: blue;padding-top: 10px;font-weight: bold;">Question</div>
    <div style="padding-left: 10px;">
       <div><p style="font-size: 18px;text-transform: uppercase;">{{ item.question }}</p></div>
       <div><p>{{item.answer}}</p></div>
    </div>
</div>

</ion-content>
