<!-- Side Nav -->

<ion-app>

  <ion-split-pane contentId="my-content">
    <ion-menu contentId="my-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" style="padding: 0px;">
          <ion-list-header>
            <ion-avatar>
              <img src="../assets/img/a.png">
            </ion-avatar>
            <ion-title>{{name}}</ion-title>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of sideNav; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="my-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


<!-- <ion-app>
  <ion-menu contentId="secondcontent">
    <ion-header>
      <ion-toolbar>
        <ion-title>Dealer</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-list>
        <ion-menu-toggle *ngFor="let p of sideNav; let i = index">
          <ion-item lines="none" routerLink="{{p.url}}">
            <ion-icon name= "{{p.icon}}-sharp" slot="start"> </ion-icon>
              <ion-label>{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
       </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="secondcontent"></ion-router-outlet>
</ion-app> -->
