<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 
<ion-content>
  <div class="ion-text-center"><img alt="logo" height="150" style="margin-top: 2%;" src="../../assets/img/logo.webp">
  
  </div>
  <!-- <br/><br/><ion-title class="ion-text-center">SignUp</ion-title> -->

  <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
      <!-- <ion-item lines="full">
        <ion-label position="fix">Upload Profile</ion-label>
        <ion-input
          type="file"
          required
          (change)="fileChange($event)" accept="image/*"
        ></ion-input>
      </ion-item> -->
      <!-- <ion-fab horizontal="end" slot="fixed" vertical="top">
        <ion-fab-button (click)="captureImage()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->
      <img *ngIf="img1" [src]="img1" />
     <!-- <img [src]="clickedImage" /> -->
      
    <ion-item lines="full">
      <ion-label position="fix">Name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <label class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required" style="color: red;">
      Name is required.
     </label>
     <ion-label  class="error ion-padding"  *ngIf="isSubmitted && errorControl.name.errors?.pattern">
      Name is required.
    </ion-label >
    <ion-label  class="error ion-padding"  *ngIf="isSubmitted && errorControl.name.errors?.minlength">
      Name should be min 2 chars long.
    </ion-label >
    <ion-item lines="full">
      <ion-label position="fix">Mobile</ion-label>
      <ion-input type="number" formControlName="mobile" placeholder="{{mobile}}" required></ion-input>
    </ion-item>
    <label class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required" style="color: red;">
      Mobile is required.
     </label>
     <ion-label  class="error ion-padding"  *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
      Mobile Number Should be Min 10 Numbers.
    </ion-label >

    <ion-item lines="full">
      <ion-label position="fix">
        Email
      </ion-label>
      <ion-input type="text" formControlName="email" placeholder="{{email}}" required></ion-input>
    </ion-item>
    <label class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required" style="color: red;">
      Email is required.
     </label>
     <ion-label  class="error ion-padding"  *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </ion-label >
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
