ion-col {
    padding: 1.5ch;

  }


  ion-item{
    --background: rgb(244, 250, 252);
    line-height: 2ch;
    color: rgba(0,94,120,1);
    font-size:3ch;
  }

  .img1{
    border-radius: 20%;
    height:150px;
    width: 100%;
  }
