<ion-content>
  <div style="display: flex;">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: x-large;font-weight:bold">All Auction</ion-title>


  </div>
  <ion-grid>

    <ion-row *ngFor="let current of data;let i=index;" style="padding: 10px;">
      <ion-col>
        <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <ion-row>
            <div style="width: 100%;">
              <ion-row>
                <ion-col style="padding: 0;">

                    <img *ngIf="current.filename" src="http://shreddersbay.com/API/uploads/{{current.filename}}"
                    style="height: 200px;width: 100%;position: absolute;">
                    <img *ngIf="!current.filename" src="http://shreddersbay.com/API/uploads/{{current.file}}"
                    style="height: 200px;width: 100%;position: absolute;">
                    <img *ngIf="current.filename==='undefined'" src="https://i.postimg.cc/cJzFS4ht/product-500x500.jpg"
                    style="height: 200px;width: 100%;position: absolute;">
                    <div  style="height: 200px;width: 100%;position: absolute;background-color: black;opacity: 0.4;" ></div>
                </ion-col>
              </ion-row>

              <ion-icon [style.color]="favo===true ? 'red' : 'white' " (click)="fav(current.auction_id)" style="float: right;font-size:xx-large;border-radius:50%;" name="heart"></ion-icon>

              <!-- <ion-icon name="ellipsis-horizontal-outline"
                style="float: right;padding: 10px;color: white;font-size: xx-large;"></ion-icon> -->
              <div style="padding: 20px;">
                <ion-row style="margin-top: 10px;">
                  <!-- <ion-col *ngIf="!current.p_name" style="color: white;font-size: x-large;" size="12">Prd Name
                  </ion-col> -->
                  <ion-col style="color: white;font-size: x-large;"> {{ current.p_name }} - {{current.name}} </ion-col>

                </ion-row>
                <ion-row style="text-align: center;">
                  <ion-col></ion-col>
                  <ion-col size="8" style="text-align: center;" >
                    <div style="border: 1px solid rgba(255, 255, 255, 0.5);border-radius: 10px;text-align: center;box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 12px 4px; ">
                      <div style="background-color: rgba(3, 227, 243, 0.8);margin: 2px;border-radius: 10px;color: white;padding: 10px;font-weight: 600;">
                        Auction Price: {{current.total_price}}
                      </div>
                    </div>
                  </ion-col>
                  <ion-col></ion-col>
                </ion-row>
                <ion-row style="margin-top: 10px;">

                  <ion-col size="1">
                    <ion-icon style="color: white;" name="location-outline"></ion-icon>
                  </ion-col>
                  <ion-col *ngIf="!current.address" style="color: white;" size="10">Address</ion-col>
                  <ion-col style="color: white;">{{current.address}}</ion-col>
                </ion-row>


              </div>
            </div>
          </ion-row>
          <ion-row style="margin-top: 30px;margin-bottom: 20px;">

            <ion-grid>
              <ion-row>
                <ion-chip outline color="danger"
                  style="box-shadow: rgba(241, 9, 9, 0.9) 0px 0px 5px;margin-left: auto;margin-right: auto;">
                  <ion-icon name="time-outline"></ion-icon>
                  <ion-label>Closes in : {{Array[i]?.Days}} Days</ion-label>
                </ion-chip>
              </ion-row>
              <ion-row style="margin-top: 20px;margin-left: 20px;">
                <ion-col  style="margin: auto;" size="2">
                  <ion-icon style="color: rgb(19, 208, 221);font-size: larger;" name="hand-right"></ion-icon>
                </ion-col>
                <ion-col style="padding-top: 0;" (click)="auction('bid',current.auction_id,'all-auction')">
                  <ion-row style="display: flex;">

                    <ion-col style="position: relative;" size="7">

                      <ion-button  expand="block"  color="tertiary" size="small">Placed BID</ion-button>
                      <ion-badge style="position: absolute;display: flex;display: block;top: -5px;
                      right: -10px;" mode="ios" color="danger"> {{chat[i]?.Chat }} </ion-badge>
                     </ion-col>

                   <ion-col size="5"></ion-col>
                  </ion-row>
                </ion-col>

              </ion-row>
              <ion-row style="margin-left: 20px;margin-top: 10px;">
                <ion-col style="margin: auto;" size="2">
                  <ion-icon style="color: rgb(19, 208, 221);font-size: larger;"  name="chatbox"></ion-icon>
                </ion-col>
                <ion-col style="padding-top: 0;" (click)="auction('chat',current.auction_id,'all-auction')">
                  <ion-row style="display: flex;">

                    <ion-col style="position: relative;" size="7">

                      <ion-button  expand="block"  color="tertiary" size="small">Chat Now</ion-button>
                      <ion-badge style="position: absolute;display: flex;display: block;top: -5px;
                      right: -10px;" mode="ios" color="danger"> 0 </ion-badge>
                     </ion-col>

                   <ion-col size="5"></ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row >
                              <ion-col size="2"></ion-col>
                    <ion-col size="8"  (click)="auction('details',current.auction_id,'all-auction')">
                      <ion-button  expand="block" fill="outline"  color="tertiary" >
                        <ion-icon style="font-size: 24px;" name="information-outline"></ion-icon>
                        Auction Details</ion-button>
                    </ion-col>
              <ion-col></ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
          <ion-row>
            <ion-grid class="ion-no-padding">
              <ion-row style="border-top: 1px solid gray; ">
                <ion-col *ngIf="chat[i]?.NoBid==='false' && chat[i]?.OneBid==='false'"  style="background-color: rgba(209, 207, 207, 0.3);">
                  <div style="padding: 10px;">
                    <p style="text-align: center;">Lowest Bid</p>
                    <ion-row style="padding-left: 20%;">
                      <ion-col size="2">
                        <ion-icon style="color: red;" name="caret-down-outline"></ion-icon>
                      </ion-col>
                      <ion-col>{{chat[i]?.Min}}</ion-col>
                    </ion-row>

                  </div>
                </ion-col>
                <ion-col *ngIf="chat[i]?.NoBid==='false' && chat[i]?.OneBid==='false'"
                  style="border-left: 1px solid gray;background-color: rgba(209, 207, 207, 0.3);">
                  <div style="padding: 10px;">
                    <p style="text-align: center;">Highest Bid</p>
                    <ion-row style="padding-left: 20%">
                      <ion-col size="2">
                        <ion-icon style="color: green;" name="caret-up-outline"></ion-icon>
                      </ion-col>
                      <ion-col>{{chat[i]?.Max}}</ion-col>
                    </ion-row>
                  </div>
                </ion-col>
                <ion-col *ngIf="chat[i]?.NoBid==='true'"  style="background-color: rgba(209, 207, 207, 0.3);">
                  <p style="text-align: center;font-size: x-large;font-weight: 900;">NO BID YET</p>
                </ion-col>
                <ion-col *ngIf="chat[i]?.Chat==='1' && chat[i]?.NoBid==='false'"  style="background-color: rgba(209, 207, 207, 0.3);">
                  <div style="padding-top: 10px;">

                    <ion-row >
                      <ion-col style="color: green;text-align: center;font-weight: 600;font-size: larger;"> Rs. {{chat[i]?.OneBid}}</ion-col>
                    </ion-row>
                    <p style="text-align: center;">Placed one Bid Only, Try your <span style="color: red;">Luck</span></p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>

        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
