<ion-header color="primary">
  <ion-toolbar color="primary">
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  
  <ion-title>Forget Password</ion-title>

  <ion-buttons slot="end">
    <ion-icon name="notifications"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <!-- <div class="ion-text-center"><img alt="logo" height="150" style="margin-top: 2%;"  src="../../assets/img/logo.webp" >
  </div> -->
  <br/><br/>
  <p style="text-align: center;font-size: large;font-weight: 500;">Enter Your Registered Email  to reset your passsword</p>

  <form  [formGroup]="resetForm" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
     
    </ion-item>
    <label class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </label>
    <label class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </label>
    
    <ion-row> 
      <ion-col style="margin-top: 10px;">
        <ion-button type="submit" color="primary" expand="block">Continue</ion-button>
        <!-- <ion-button (click)="sendEmail()"></ion-button> -->
      </ion-col>
    </ion-row>
    <div style="color: red; padding-top: 0.2rem" *ngIf="errorMsg">
      <p >{{errorMsg}}</p>
   </div>
  </form>
</ion-content>
